<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089786592701-pdivne9d0d6e9h6ooe66pg2u0ovjuf47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089786592701-pdivne9d0d6e9h6ooe66pg2u0ovjuf47</string>
	<key>API_KEY</key>
	<string>AIzaSyAYacqCIR5kII2xs5Oj4SGmQrtrXtGKYJg</string>
	<key>GCM_SENDER_ID</key>
	<string>1089786592701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-757bb</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-757bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089786592701:ios:82bbd70a7cca262596a6d4</string>
</dict>
</plist>